.calendar-table {
    display: flex;
    flex-direction: column;
    height: 250px;
    width: 100%;
}

.calendar-table-day {
    width: 100%;
    display: grid;
    grid-template-columns: 60px 60px 60px 60px 60px 60px 60px;
    justify-content: center;
    align-items:center;
}

.calendar-table-date {
    width: 100%;

    display: grid;
    margin-top: 10px;
    grid-template-columns: 60px 60px 60px 60px 60px 60px 60px;
    justify-content: center;
    align-items:center;
    height: 240px;
    font-size: 13px;
}

.calendar-div-date, .calendar-div-dateSun {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-table-currdate > div{
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calendar-table-currdate > div:hover {
    box-shadow:  0 8px 16px -4px rgba(9, 30, 66, 0.25), 0 0 0 1px rgba(9, 30, 66, 0.08);
    background-color: #36d;
    color: #fff;
    cursor: pointer;
}

.calendar-table-prevdate > div, .calendar-table-nextdate {
    color: rgba(0,0,0,0.2);
}
.calendar-div-dateSun > div {
    color: red;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calendar-div-predateSun  > div {
    color: #ffcccb;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
